<html>
    <body>
         <% if (lang == 'en') { %>
            <p>Hey <%= name %>,</p>
            <p>Click <a href="<%= link %>">here</a> for reset password</p>
            <p>Regards,<br />Recruiters AI</p>
         <% } %>

         <% if (lang == 'es') { %>
            <p>Oye <%= name %>,</p>
            <p>Hacer clic <a href="<%= link %>">aquí</a> para restablecer contraseña  </p>
            <p>Saludos,<br />Recruiters AI</p>
         <% } %>
    </body>
</html>