<html>
    <body>
        <p>Hey <%= name %>,</p>
        <p>Below are your credentials to login <a href="<%= link %>">here</a>.</a> </p>
        <p>Email : <%= email %></p>
        <p>Password : <%= password %></p>

        <p>Regards,<br />Recruiters AI</p>
    </body>
</html>