<html>
    <body>
        <p>Hey <%= name %>,</p>
        <p><%= company_name %></p>
        <p>Thanks for your purchase, This is a confirmation of your purchase and quantity. </p>
        <table
             <thead>
                 <tr>
                    <th>Total Test Purchased</th>
                    <th>Total Amount</th>
                </tr>
             </thead>
             <tbody>
                <tr>
                    <td><%= tests_purchased %></td>
                    <td><%= total_amount %></td>
                </tr>
             </tbody>  
        </table>  
        <p>Regards,<br />Recruiters AI</p>
    </body>
</html>